snippet html "An html template"
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$1</title>
  </head>
  <body>
    $2
  </body>
</html>
endsnippet

snippet link "A link tag"
<link rel="stylesheet" href="$1" />
endsnippet

snippet script "A script tag"
<script type="text/javascript" src="$1"></script>
endsnippet
